@model SSCIS.Models.SSCISParam

@{
    ViewBag.Title = "Details";
    ViewBag.ActiveMenuItem = "menu-params";
}

<h2>Details</h2>

<div>
    <h4>SSCISParam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParamKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParamKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParamValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParamValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
