@model SSCIS.Models.Meta.MetaTutorApplication

@{
    ViewBag.Title = "Details";
    ViewBag.ActiveMenuItem = "menu-tutors";
}

<div class="body-content container text-center" style="padding-top: 70px">
    <div class="row content">
        <div class="col-sm-12 text-left">
            <div class="well">
                <div class="container">
                    <h2>Žádost o tutorství</h2>
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Datum žádosti
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Application.ApplicationDate)
                            </dd>

                            <dt>
                                Login uživatele
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Application.Applicant.Login)
                            </dd>

                        </dl>
                    </div>
                        @foreach (var subject in Model.ApplicationSubjects)
                        {
                            <dl class="dl-horizontal">
                                <dt>
                                    Předmět
                                </dt>

                                <dd>
                                    @Html.DisplayFor(m => subject.Subject.Code)
                                </dd>

                                <dt>
                                    Známka
                                </dt>

                                <dd>
                                    @Html.DisplayFor(m => subject.Degree)
                                </dd>

                            </dl>
                        <br />
                        <br />
                    }
                    <p>
                        @Html.ActionLink(SSCISResources.Resource.ACCEPT, "Accept", new { id = Model.Application.ID }) |
                        @Html.ActionLink(SSCISResources.Resource.DECLINE, "Decline", new { id = Model.Application.ID }) |
                        @Html.ActionLink(SSCISResources.Resource.BACK, "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>