@model SSCIS.Models.Meta.MetaTutorApplication

@{
    ViewBag.Title = "Details";
    ViewBag.ActiveMenuItem = "menu-tutors";
}

<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">

            <h2>Žádost o tutorství</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Datum žádosti
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Application.ApplicationDate)
                    </dd>

                    <dt>
                        Login uživatele
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Application.Applicant.Login)
                    </dd>

                </dl>
            </div>
            @foreach (var subject in Model.ApplicationSubjects)
            {
                <dl class="dl-horizontal">
                    <dt>
                        Předmět
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => subject.Subject.Code)
                    </dd>

                    <dt>
                        Známka
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => subject.Degree)
                    </dd>

                </dl>
                      
                        <br />
                            <br />
            }
            <div>
                <p>
                    @Html.ActionLink("Přijmout", "Accept", new { id = Model.Application.ID }) |
                    @Html.ActionLink("Odmítnout", "Decline", new { id = Model.Application.ID }) |
                    @Html.ActionLink("Zpátky na seznam", "Index")
                </p>
            </div>
        </div>
   

    <div class="col-sm-2 sidenav">
    </div>
</div>
    </div>
