@model SSCIS.Models.Meta.MetaInterval

@{
    ViewBag.Title = "Feedback";
    ViewBag.ActiveMenuItem = "menu-statistics";
}


@{
    ViewBag.Title = "Generate";
}

<h2>Generování souboru s feedbacky</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.From, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.From, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.From, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.To, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.To, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.To, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generuj" class="btn btn-default" />
            </div>
        </div>
}


