@model IEnumerable<SSCIS.Models.SSCISContent>

@{
    ViewBag.Title = SSCISResources.Resource.NEWS;
}

<h2>Index</h2>

<p>
    @Html.ActionLink(SSCISResources.Resource.CREATE_NEWS, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @SSCISResources.Resource.CREATED
        </th>
        <th>
            @SSCISResources.Resource.EDITED
        </th>
        <th>
            @SSCISResources.Resource.CONTENT
        </th>
        <th>
            @SSCISResources.Resource.AUTHOR
        </th>
        <th>
            @SSCISResources.Resource.EDITED_BY
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedBy.Login)
        </td>
        <td>
            @Html.ActionLink(SSCISResources.Resource.EDIT, "Edit", new { id=item.ID }) |
            @Html.ActionLink(SSCISResources.Resource.DETAIL, "Details", new { id=item.ID }) |
            @Html.ActionLink(SSCISResources.Resource.DELETE, "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
