@model SSCIS.Models.SSCISUser

@{
    ViewBag.Title = "Detail uživatele";
    ViewBag.ActiveMenuItem = "menu-users";
}

<h2>Detail</h2>

<div>
    <h4>Uživatel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleCode)
        </dd>
       
    </dl>
</div>
<p>
    @{if (Request.RequestContext.HttpContext.Session["role"] != null && Request.RequestContext.HttpContext.Session["role"].Equals("ADMIN"))
        {
            <p>@Html.ActionLink("Upravit", "Edit", new { id = Model.ID }) | @Html.ActionLink("Zpět", "Index")</p>
        }
        else
        { 
            <p>@Html.ActionLink("Zpět", "Index")</p> 
        }
    }
</p>
